/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}




/*====  VARIABLES ============================ */

/* Variaveis globais para melhorar e facilitar a leitura/manutencao do projeto */

:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 15;
  /* HSL color mode */
  --base-color: hsl(202, 92%, 46%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(199, 59%, 29%);
  --title-color: hsl(147, 39%, 53%)
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */

/* //Para ter uma rolada lenta */
  html {
    scroll-behavior: smooth;
  }
  

/* //Definição da font, cor do texto background */
body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);

  /* //Para tratar as imagens em diferentes navegadores, ex: Safari. // */
  -webkit-font-smoothing: antialiased;
}

/* Para tratar e configurar o titulo */
.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

/* Tratamento da classe button, com suas config e transições */
.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

/* Para tratar o hover do botao */
.button:hover {
  background: var(--base-color-alt);
}

/* Edita a primeira linha de separação */
.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsl(238, 98%, 63%)
  );
}
/* Edita a segunda linha de separação */
.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsl(238, 98%, 63%)
    
  );
}

/*====  LAYOUT ============================ */

  /* Define um padrão para todas as classes container  */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

 /* Define um padrão para o grid  */
.grid {
  display: grid;
  gap: 2rem;
}
/* Padding da sections, "desgrudando" os componentes do fim  */
.section {
  padding: calc(5rem + var(--header-height)) 0;
}


/* todos as classes title, dentro da section, vai conter um margem na parte inferior */
.section .title {
  margin-bottom: 1rem;
}

/* atribui o tamanho da var subtitle, ja declarada antes */
.section .subtitle {
  font-size: var(--subtitle-font-size);
}

/* Define as configurações do portugues */
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

/* Coloca um box shadow quando ocorre scroll */
#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*====  LOGO ============================ */

/* Configurações inicia do logo, fonte e cor */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

/* Toda tag span, vai contar essa cor base, definida antes */
.logo span {
  color: var(--base-color);
}

/* toda class logo-alt que tiver um span dentro, vai preencher o texto desse span com a cor definida */
.logo-alt span {
  color: var(--body-color);
}

/*====  NAVIGATION ============================ */

/* cuida do cabeçalho do site  */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/* faz a transição na nav */
nav ul li a {
  transition: color 0.2s;
  position: relative;
}

/* cor da fonte na nav  */
nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

/* para tratar a transição  */
nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

/* Define o tamanho da transição */
nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

/*====  HOME ============================ */

/* define hidden para a caixa */
#home {
  overflow: hidden ;
}
/* definindo a margem da class container dentro de um id Home */
#home .container {
  margin: 0;
}

/* definindo o padrão das imagens */
#home .image {
  position: relative;
}

/* o quadrado colorido de fora das imagens do home*/
#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 10.7%;
  z-index: 0;
}

/* define o posicionamento da imagem como relative, a esquerda */
#home .image img {
  position: relative;
  right: 3rem;
}

/* deixa as bordas arredondadas */
#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

/* Define uma margim na classe texto e centraliza */
#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

/* as tags h1, possuem um margem em baixo */
#home .text h1 {
  margin-bottom: 1rem;
}

/* as tags p possuem uma margem de 2rem */
#home .text p {
  margin-bottom: 2rem;
}

/*====  ABOUT ============================ */

/* coloca a cor da "pagina sobre" */
#about {
  background: white;
}
/* define a margem 0 para a class container dentro do id #about */
#about .container {
  margin: 0;
}

/* define posicionamento relative para a class img  */
#about .image {
  position: relative;
}
/* Coloca a caixa colorida no fundo da imagem */
#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: hsl(150, 34%, 89%);
  position: absolute;
  top: -15.3%;
  left: -13%;
  
}

/* define um posisionamento relativo */
#about .image img {
  position: relative;
}

/* deixa as bordas arredondadas */
#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

/* coloca uma margem nas duas laterais da caixa */
#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Da um espanco entre os textos e o botao */
#button-git-hub{
  margin-top: 2rem
}

/*====  FOOTER ============================ */
/* define a cor do fundo */
footer {
  background: var(--base-color);
}
/* O respectivo padding da section presente no footer  */
footer.section {
  padding: 4rem 0;
}

/* da um margim do logo no footer */
footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

/* define a cor e margim do brand  */
footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

/* define a cor dos icons no fotter  */
footer i {
  font-size: 2rem;
  color: var(--text-color-light);
}

/* deixa o grid como column  */
footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

/* define o tempo da transição do item abaixo */
footer .social a {
  transition: 0.3s;
  display: inline-block;
}

/* o tamanho da transição */
footer .social a:hover {
  transform: translateY(-8px);
}


/* Back to top */
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}
/* Back to top */ 
.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */


/* com resoluções tamanhos menores de 1200px, utilizar estas configurações */
@media (min-width: 1200px) {
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /* about */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  #contato{
    padding-bottom: 1rem;
  }
  .icon-whatsapp{
    padding-right: 1rem;
  }

  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

